<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">PointServices</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">História</a></li>
      <li><a href="#">Portfólio</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
          >Cadastros <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li><a href="/admin/categories/">Categorias</a></li>
          <li><a href="/admin/clientes/">Clientes</a></li>
          <li><a href="/admin/suppliers/">Fornecedores</a></li>
          <li><a href="/admin/technicians">Técnicos</a></li>
          <li><a href="/admin/manpowers">Mão de Obra</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
          >Serviços <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li><a href="#">Abertura de Serviços</a></li>
          <li><a href="#">Avaliação Técnica</a></li>
          <li><a href="#">Encerramento Técnico</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
          >Produtos <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li><a href="/admin/groups">Grupo de Produtos</a></li>
          <li><a href="/admin/brands/">Marcas</a></li>
          <li><a href="/admin/products/">Produtos</a></li>
          <li><a href="#">Entrada de Produtos</a></li>
          <li><a href="#">Saída de Produtos</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
          >Financeiro <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li><a href="#">Contas à Receber</a></li>
          <li><a href="#">Caixa Diário</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
    </ul>
  </div>
</nav>

