<nav class="navbar navbar-expand navbar-lg navbar-light bg-primary">
    <a href="/" class="nav-brand">
      <img src="/img/logo_fukuta.png" height="30px">
   </a>
   <ul class="navbar-nav mr-auto">
      <li class="nav-item">
         <a class="nav-link text-light" href="/admin/categories"> Categorias</a>
      </li>
      <li class="nav-item">
         <a class="nav-link text-light" href="/admin/articles"> Artigos</a>
      </li>
  
   </ul>

   <ul class="navbar-nav ml-auto">
      <li class="nav-item">
         <a class="nav-link text-light" href="/logout"> Logout</a>
      </li>
   </ul>

</nav>
